html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(241, 245, 248);
}
.container {
  padding: 40px;
}
.container button {
  margin-bottom: 20px;
  background-color: rgb(202, 91, 31);
  border: none;
  color: white;
  padding: 10px 12px;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container button:hover{
  background-color:rgb(165, 71, 21) ;
}
.container p {
  font-size: 25px;
}
